form {
	width: 80%;
}

form > input,
form > textarea {
	margin: 20px 5px;
	display: block;
	border: none;
	width: 100%;
	padding: 7px;
}

form > textarea {
	min-height: 50vh;
}

form > input[type='button'] {
	background-color: white;
	border: 2px solid black;
	border-radius: 30px;
	cursor: pointer;
	width: 70px;
	font-weight: bold;
}

form > #title1 {
	font-size: 32px;
}

button {
	display: block;
	padding: 7px;
	background-color: white;
	border: 2px solid black;
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 20px;
}
